<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Юра!</h1>
<h2>Я являюсь автором этого проекта. </h2>
<a href="https://github.com/golenkovyura" class="btn btn-link">
    Ссылка на мой GitHub
<a/>
<p>
  Программированием я увлекся в марте, летом принял решение поступить на курс <i>Python-разработчика</i>.<br>
</p>
<p>
    Надеюсь, этот проект поможет мне в понимании <b>Django</b> и разработки в целом!
  </p>
{% endblock %}